.header-top {
  width: 100%;
  height: 735px;
  background-color: pink;
}

.w {
  width: 1300px;
  margin: 0 auto;
}

.header-bottom {
  width: 1300px;
  height: 83px;
  border-bottom: 4px solid #007DB0;
}

.header-bottom ul li {
  float: left;
  width: 260px;
  line-height: 83px;
  padding-right: 100px;
  box-sizing: border-box;
}

.header-bottom ul li a {
  text-align: center;
  display: block;
  height: 84px;
  box-sizing: border-box;
}

.header-bottom ul li a:hover {
  border-bottom: 4px solid #9FCF7A;
}
.header-bottom ul li .current {
  border-bottom: 4px solid #9FCF7A;
}